* {
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}
body {
  font: 40px/1.2 "Roboto Slab";
  color: #333;
  text-align: center;
  overflow: hidden;
}
article section {
  opacity: 0;
}
a {
  color: #00b7ff;
}
h1,
h2 {
  font-family: "Roboto Condensed";
}
h1 {
  font-size: 173%;
}
h2 {
  font-size: 144%;
  color: #999;
}
h3 {
  font-size: 120%;
}
ul,
p {
  margin-top: 1.2em;
}
ul {
  display: inline-block;
  margin-left: 2em;
}
ul li {
  text-align: left;
}
.bespoke-parent,
.loading {
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 25%;
}
.bespoke-parent {
  -webkit-perspective: 1000px;
}
.loading {
  color: #fff;
}
.bespoke-slide {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.8s ease;
  -webkit-transform-origin: 50% 50% -550px;
}
.bespoke-active {
  opacity: 1;
}
.bespoke-before-1 {
  -webkit-transform: rotateY(-90deg);
}
.bespoke-after-1 {
  -webkit-transform: rotateY(90deg);
}
.bespoke-bullet {
  -webkit-transition: all 0.8s ease;
}
.bespoke-bullet-inactive {
  opacity: 0;
}
.bespoke-bullet-active {
  opacity: 1;
}
